name: Build and Deploy to Cloud Run Job

on:
  push:
    branches:
      - main
      - 'feature/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Init Environment Variables
      run: |
        BRANCH="${GITHUB_REF#refs/heads/}"
        if [ "$BRANCH" = "main" ]; then
          echo "ENV=main" >> $GITHUB_ENV
        else
          echo "ENV=dev" >> $GITHUB_ENV
        fi
        IMAGE_URI="${{ secrets.GCP_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/mlflow-images/pipeline-${{ env.ENV }}:latest"
        echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
        MLFLOW_EXPERIMENT_NAME="Experiment-${{ env.ENV }}"
        echo "MLFLOW_EXPERIMENT_NAME=$MLFLOW_EXPERIMENT_NAME" >> $GITHUB_ENV

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_DEPLOY_SA }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Configure Docker to use gcloud as a credential helper
      run: |
        gcloud auth configure-docker ${{ secrets.GCP_LOCATION }}-docker.pkg.dev

    - name: Build and Push Docker image
      run: |
        docker build --build-arg GIT_SHA="${{ github.sha }}" -t "${{ env.IMAGE_URI }}" .
        docker push "${{ env.IMAGE_URI }}"

    - name: Create env-vars.yaml
      run: |
        cat <<EOF > env-vars.yaml
        MLFLOW_TRACKING_USERNAME: "${{ secrets.MLFLOW_TRACKING_USERNAME }}"
        MLFLOW_TRACKING_PASSWORD: "${{ secrets.MLFLOW_TRACKING_PASSWORD }}"
        MLFLOW_EXPERIMENT_NAME: "${{ env.MLFLOW_EXPERIMENT_NAME }}"
        EOF

    - name: Deploy Cloud Run Job
      run: |
        gcloud run jobs deploy mlflow-pipeline \
          --image "${{ env.IMAGE_URI }}" \
          --region ${{ secrets.GCP_LOCATION }} \
          --service-account ${{ secrets.GCP_MLFLOW_SA_NAME }} \
          --env-vars-file env-vars.yaml \
          --cpu 1 \
          --memory 500Mi \
          --execute-now
